{{define "header"}}

<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <h2>gin-ory-stack-demo</h2>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/dashboard" class="nav-link px-2 link-primary">Dashboard</a></li>
    <li><a href="/verification" class="nav-link px-2 link-dark">Verification</a></li>
    <li><a href="/recovery" class="nav-link px-2 link-dark">Recovery</a></li>
    <li><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="/login" class="btn btn-outline-primary me-2" role="button">Login</a>
    <a href="/registration" class="btn btn-outline-primary me-2" role="button">Sign Up</a>
    <a href="/logout" class="btn btn-outline-danger" role="button">Log Out</a>
  </div>
</header>
{{end}}
